@use '@angular/material' as mat;

.light-mode {
  background: inherit;
}

.dark-mode {
  background: black;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.mdc-button {
  border-radius: 12px !important;
}

mat-sidenav {
  border-radius: 0 !important;
}

body.dark-mode {
  color-scheme: dark;

  * {
    color: #E2E3E0 !important;
  }

  input {
    color: #E2E3E0 !important;
  }

  .mdc-text-field
  {
    color:white !important;
    background: #1A1C1B !important;
  }

  mat-expansion-panel {
    background: black;
  }

  mat-toolbar {
    background: #151716;
  }


  .mdc-button {
    background: #323131 !important;
  }


  mat-sidenav-container {
    background: black;
  }

  mat-card {
    background: #1A1C1B;
  }

  mat-sidenav {
    background: #1A1C1B;
  }
}

body.light-mode {
  color-scheme: light;

  * {
    color: #1A1C1B !important;
  }

  mat-toolbar {
    background: #f1f1f1;
  }

  .active {
    .mdc-button {
      background: #fa0000 !important;
    }

  }

  mat-sidenav {
    background: #efefef;

    .mdc-button {
      //background: #efefef !important;
    }

    .mat-tree-node {
      background: #efefef !important;
    }

    .tree {
      background: #efefef !important;
    }


  }

  .mdc-button {
    background: #D5D5D5 !important;
  }
}
